<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Weather App </title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css"/>
 <script>
 document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
 </script>


<body>
    <section class="hero is-small is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" align='left'>
                    Weather App
                </h1>
            </div>
        </div>
    </section>


    <section class="section">
      <div class="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages%}
          <div class="notification is-warning" align='center'>
            <button class="delete"></button>
            <b>{{ message }}</b>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

    </div>
    </section>






    <div class="container" align="center">

      <button class="button is-link is-light is-focused is-normal find-city"  >Use My location<img src="https://img.icons8.com/windows/32/000000/marker.png"/> </button>
    </div>



    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">

                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input status" name="city" type="text" placeholder="City Name"></input>
                            </div>
                            <div class="control">

                                <button class="button is-info is-light ">
                                    Add City
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


  <section class = "section">
    <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                  {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                   <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                      <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}° F</span>
                                    <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Weather App</strong> by <b><a href="https://github.com/ezapez">EZAPPER</a></b>
        &
        <b><a href="https://github.com/fowzy">FOWZY</a></b>


      </p>
    </div>
  </footer>




</body>
</html>
